@page
@model BankStartWeb.Pages.Admin.UserListModel
@{
}



    <div class="d-flex justify-content-center">
        <ul style="width: 70%">
            @foreach (var user in Model.Users)
            {
                <li>@user.Id</li>
                <li>@user.Email <a asp-page="/Admin/UpdateUser" asp-route-id="@user.Id"><i class='bx bxs-edit'></i></a></li>
                @foreach (var role in user.Roles)
                {
                    <li>@role</li>
                }
            }
        </ul>
    </div>
